@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #262626;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.Mui-selected {
  color: #FFFFFF !important;
  /* Use !important to ensure it overrides the default */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'LimeLight';
  src: url('../app/fonts/Limelight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  /* Name of the font */
  src: url('../app/fonts/Lexend-Regular.woff2') format('woff2'),
    /* WOFF2 for modern browsers */
    url('../app/fonts/Lexend-Regular.woff') format('woff');
  /* WOFF for older browsers */
  font-weight: 400;
  font-style: normal;
}